body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  line-height: 1.61803398875em;
	padding: 0;
	margin: 0;
	font-size: 10vh;
  background: rgba(0,0,11,1);
}

/*Style the icons*/
.ico{
  height: 5vh;
  width: 5vh;
  vertical-align: middle;
}

main {
	min-height: 400px;
  display: block;
  flex-flow: row;
  font-size: 25px;
  color: white;  	
}
/* Style the logo position*/
#silverado{
	vertical-align: middle;
  margin-left: 0;
	padding-left: 1vw;
  padding-top:  1.5vh;
  padding-bottom: 1.5vh;
  padding-right: 1vw;
}

header{
	background: black;
	display: inline-block;
	font-family: 'Monoton', cursive;
	padding-left: 3vw;
  padding-top: 1.5vh;
  vertical-align: middle;
	justify-content: left;
	font-size: 30px;
	color: white;
	width: auto; 
}

/*Style the landing image - couple watching 3D movie*/
#banner{
   background: url('https://image.ibb.co/di781k/bigstock_Happy_couple_sitting_in_movie_60869540_2.jpg') 0 0 no-repeat;
   background-size: 100%;
   background-position: center;
   height: 420px;
   width: 100%;
   margin-bottom: 1em;
   display: table;
}

article{
	background: rgba(170,0,0, 0.3);
  min-width: 70%;
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
}

footer {
	font-size: small;
    display: block;
    color: white;
    padding:2vw;
}

h1	{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 900;
	font-size: 2.5em;
	font-stretch: 2px;
}

/*Styles the titles in the landing page*/
.title{
  font-weight: 700;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

h3{
   font-size: 0.5em;
}

/*navigation bar styling*/
nav ul {
	margin: 0;
  padding: 0;
	color: white;
  list-style-type: none;
  box-sizing: border-box; 
  overflow: hidden;
  background-color: rgb(119, 119, 119);
}

nav li {
    float: right;
    list-style-type: none;
    margin-bottom: 0;
}

nav li a {
	font-family:'Roboto', sans-serif;
	font-size: 3vh;
	font-weight: 300px;
  display: inline-block;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding-right: 3vw;
  padding-bottom: 0;
  text-decoration: none;
}

nav li a:hover {
    background-color:rgb(29, 39, 49);
}

/*end of navigation bar styling*/

/*button styling*/
button.button-primary, .button.button-primary {
  color: white;
  background-color: rgba(170,0,0, 0.1);
}

button.button-primary,.button.button-primary:hover{
  background-color: rgba(170,0,0, 0.3);
  -webkit-box-shadow: 5px 14px 30px 0px rgba(0,0,0,0.83);
-moz-box-shadow: 5px 14px 30px 0px rgba(0,0,0,0.83);
box-shadow: 5px 14px 30px 0px rgba(0,0,0,0.83);
}

/*movie banners in the carroussel*/
.movie{
  width: 100%;
  height: 350px;
}

/* movie carrousel*/
#carousel{
  text-align: center;
  margin: 1em;
}

/*box floating and shadow styles*/
.dimension, form{
    box-sizing: border-box;
    margin-bottom: 3.125em;
    padding: 1em;
    text-align: center;
    background-color: rgba(227, 233, 242, 0.5);
    border-radius: 5px;
    box-shadow: 5px 14px 30px 0px rgba(0,0,0,0.83);
    -webkit-box-shadow: 5px 14px 30px 0px rgba(0,0,0,0.83);
    -moz-box-shadow: 5px 14px 30px 0px rgba(0,0,0,0.83);
}

li{
  list-style: none;
}
/*carrousel container*/
#showing{
	box-sizing:border-box;
  max-width: 1800px;
  grid-auto-flow: column;
}

@media (max-width: 750px) {
    #banner {
      height: 400px;
    }
    #showing{
      max-width: 400px;
    }

    div{
      min-width: 100%;
    }
}

form{
	color: white;
  text-align: left;
  margin-top: 2em;
  font-size: 3.5vh;

}

fieldset{
  border: 1px;
  border-radius: 5px;
}

/*box styling*/

.timechart{
  font-size: 3.5vh;
  box-shadow: none;
}

.timechart> li{
  font-size:3vh;
}
/*CEM'S LAST EDITION*/
.total{
  text-align: right;
}

#discount{
  text-align: left;
}
#ticketError{
  color:rgb(170,0,0);
}

/*shopping cart*/
.cart {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* shopping cart content screen */
.cart-content {
    background-color: rgba(227, 233, 242, 0.5);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
}
